.sortPanel {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 20px;
  margin-bottom: 10px;
  font-size: 14px;

  .btnsWrapper {
    display: flex;
    align-items: center;
    gap: 10px;
    button {
      text-align: left;
      background-color: transparent;
      border: none;
      cursor: pointer;
      padding: 0;
      color: #555;
      font-size: 13px;
      font-weight: 400;
      transition: 0.3s;

      &:hover,
      &.active {
        color: #262626;
        font-weight: 600;
      }
    }
  }
}
